### IntelliJ ###
.idea/
airflow-training.iml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Airflow mounts ###
dags/*
data/*
!dags/.gitkeep
!data/customers.csv

### Terraform ###
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate.lock.info
infra/terraform.tfstate*

### Poetry ###
poetry.lock